.servicesSection {
  margin: 170px auto 0;

  .boxTitle {
    position: relative;
    max-width: 130px;
    margin: 0 auto;

    h2 {
      height: 20px;
  
      font-size: 20px;
      letter-spacing: 0px;
      color: #F97270;

      margin-bottom: 59px;
    }

    > .boxShadow {
      width: 110px;
    }
  }

  .boxSubTitle {
    position: relative;
    max-width: 774px;
    margin: 0 auto;

    h3 {
      text-align: center;
      font-size: 40px;
      color: #151D41;
    }

    > .boxShadow {
      top: 25px;
      left: 88px;
      width: 600px;
    }
  }

  .servicesContainer {
    display: flex;
    align-items: center;
    justify-content: space-evenly;

    max-width: 1063px;
    min-height: 517px;
    margin: 107px auto 0;

    .designUI {
      width: 100%;
      max-width: 521px;
      height: 287px;
      position: relative;

      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;

      background: #FFFFFF 0% 0% no-repeat padding-box;
      box-shadow: 0px 20px 20px #7682B72E;
      border-radius: 5px;
      padding: 0 32px;

      h3 {
        font-size: 45px;
        color: #151D41;
      }

      .skillContainer {
        width: 100%;
        background-color: #F9727033;
        margin: 15px 0 35px;
      }

      .skills {
        padding-top: 3px;
        padding-bottom: 2px;
        color: white;
      }

      .skillBar {
        width: 85%;
        background-color: #F97270;
      }

      h4 {
        font: normal normal 600 27px/36px Josefin Sans;
        color: #151D41;
        margin-bottom: 16px;
      }

      p {
        font-size: 18px;
        color: #686868;
      }

      .backDots {
        position: absolute;
        top: 110px;
        left: -60px;
        width: 293px;
        height: 346px;
        background: transparent url('../../assets/back1.png') 0% 0% no-repeat padding-box;
        color: transparent;
        z-index: -1;
      }
    }

    .informationDesign {
      max-width: 442px;
      height: 517px;

      padding: 53px 42px 0 45px;

      background: #F97270 0% 0% no-repeat padding-box;
      box-shadow: 0px 20px 20px #7682B72E;
      border-radius: 5px;

      img {
        padding: 27px;
        border: 2px solid var(--unnamed-color-ffffff);
        border: 2px solid #FFFFFF;
        border-radius: 50%;

        margin-bottom: 37px;
      }

      h3 {
        font-size: 33px;
        color: #FFFFFF;
      }

      div {
        height: 41px;
        width: 104px;
        
        background-image: linear-gradient(to right, white 33%, rgba(255,255,255,0) 0%);
        background-position: bottom;
        background-size: 35px 2px;
        background-repeat: repeat-x;

        margin-bottom: 25.14px;
      }

      p {
        font-size: 16px;
        color: #FFFFFF;
        margin-bottom: 25px;
        line-height: 2;
      }

      button {
        width: 151px;
        height: 39px;

        color: #151D41;

        background: #FFFFFF 0% 0% no-repeat padding-box;
        border: 0;
        border-radius: 2px;

        cursor: pointer;
        transition: filter 0.2s;

        &:hover {
          filter: brightness(0.8);
        }
      }
    }
  }
}

@media screen and (max-width: 738px) {
  .servicesSection {
    .boxSubTitle {
      > .boxShadow {
        width: 0;
      }
    }
  
    .servicesContainer {
      flex-direction: column;
      justify-content: space-evenly;
      
      padding: 20px;
  
      .informationDesign {
        margin-top: 100px;
      }
    }
  }
}